[submodule "Production-Ready-Instruction-Finetuning-of-Meta-Llama-3.2-3B-Instruct-Project"]
	path = Production-Ready-Instruction-Finetuning-of-Meta-Llama-3.2-3B-Instruct-Project
	url = https://github.com/shaheennabi/Production-Ready-Instruction-Finetuning-of-Meta-Llama-3.2-3B-Instruct-Project.git
[submodule "Production-Ready-End-to-End-Hate-Speech-Classification-Project"]
	path = Production-Ready-End-to-End-Hate-Speech-Classification-Project
	url = https://github.com/shaheennabi/Production-Ready-End-to-End-Hate-Speech-Classification-Project.git
[submodule "Production-Ready-Sign-Language-Object_detection-Project"]
	path = Production-Ready-Sign-Language-Object_detection-Project
	url = https://github.com/shaheennabi/Production-Ready-Sign-Language-Object_detection-Project.git
[submodule "Production-Ready-LeafLogic-Multi-AI-Agents-Project"]
	path = Production-Ready-LeafLogic-Multi-AI-Agents-Project
	url = https://github.com/shaheennabi/Production-Ready-LeafLogic-Multi-AI-Agents-Project
